body {
    margin: 0;
    font-family: "Hero Secondary text";
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;

}

.header-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-family: "Header Logo Text";
    font-size: 24px;
    color:#F9FAF8;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Hero Secondary text";
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

.main-text {
    font-family: "Hero Main";
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.image {
    width: 1000px;
    height: 1000px;
    padding: 100px;
    color: #E5E7EB
}